@import "style";
@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-dt/css/jquery.dataTables.min.css";
@import "~js-treeview/src/treeview.css";
@import "~dropify/dist/css/dropify.min.css";
@import "~select2/dist/css/select2.min.css";
@import '~mdb-ui-kit/css/mdb.min.css';
@import "toastr";
@import "../js/framework/datatables-keyTable/keyTable.dataTables.min.css";
@import "../js/framework/datatables-scroller/scroller.dataTables.min.css";
@import "../js/framework/datatables-colreorder/colReorder.dataTables.min.css";


.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.tree-leaf .tree-leaf-content {
    padding: 0.75rem 1.25rem;
    width: 100%;
}

#tree .tree-leaf:last-child .tree-leaf-content:hover, .tree-leaf .tree-leaf-content:hover{
    background-color: var(--bs-secondary-bg-subtle) !important;
}

#tree {
  top: 120px;
}

#file-table {
    width: 100%;
}

.tree-leaf-text, .menu > li > a {
  color: var(--bs-emphasis-color);
}

.tree-leaf-content:has(.tree-expando.hidden) {
    padding-left: 29px !important;
}

.dropdown-menu {
  z-index: 50 !important;
}

.tree-folder-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.tree-leaf .tree-leaf-text:hover {
  color: var(--bs-primary-text-emphasis) !important;
}

.folderSelected {
    background-color: var(--bs-secondary-bg-subtle) !important;
}

.folderSelected > .tree-leaf-text {
  color: var(--bs-primary) !important;
}

.dropify-wrapper, .dropify-preview {
  background-color: var(--bs-dark-bg-subtle) !important;
  border: 2px solid var(--bs-secondary-bg-subtle) !important;
}

.dropify-wrapper {
    border-radius: 10px;
}

#categorySelect {
    width: 100%;
}

.btnUser {
  padding-top: 4px;
  padding-bottom: 3px;
}

.select2-selection  {
    background-color: var(--bs-modal-bg) !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: 0px 6px 6px 0px !important;
    min-height: 38px !important;
}

.select2-selection__choice, .select2-dropdown {
    background-color: var(--bs-secondary-bg-subtle) !important;
}

.select2-results__option--selected {
  background-color: var(--bs-secondary-bg) !important;
}

ul {
    list-style: none;
  }

  .context-menu { 
    position: absolute; 
  } 
  .menu {
    display: flex;
    flex-direction: column;
    background-color: var(--bs-secondary-bg-subtle) !important;;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
  }
  .menu > li > a {
    padding: 7px 30px 7px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.25s linear;
    -webkit-transition: 0.25s linear;
    -moz-transition: 0.25s linear;
    -ms-transition: 0.25s linear;
    -o-transition: 0.25s linear;
  }

  .menu > li {
    padding-left: 3px;
    padding-right: 3px;
  }

  .menu > li.trash > a:hover {
    color: var(--bs-danger-text-emphasis) !important;
  }

  hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 0;
    border-top: 1px solid var(--bs-tertiary-color);
  }

  .menu > li > a:hover {
    color: var(    --bs-primary-text-emphasis);
    background-color: rgba(var(--bs-tertiary-bg-rgb), .2) !important;
  }

  .table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color))) !important;
  }

  .btn-light {
    background-color: transparent !important;
  }

  #managerNavigation {
    background-color: var(--bs-body-bg);
  }

  // .btn {
  //   box-shadow: none;
  // }

  #filePreviewDialog {
    background-color: var(--bs-dark-bg-subtle);
    display: none;
    height: 85vh;
    width: 40vw;
    border-radius: 10px 00px 0px 10px;
    position: fixed;
    top: 137px;
    right: 0;
    z-index: 2;
}

.dialog {
  margin-left: 0;
}

  #nav-tab {
    padding: .5rem;
    border-radius: 10px;
  }
  .nav-link.active {
    // background-color: #2687e7 !important;
    background-color: var(--bs-primary-text-emphasis) !important;
  }

  .details-row, .settings-row {
    background-color: var(--bs-body-bg);
  }

  .btn-group-vertical > button {
    text-align: start !important;
    margin-bottom: 2px;
  }

  .col-form-label {
    color: var(--bs-body-color);
  }

  .smallFont {
    font-size: 14px;
  }

  #btnClosePreview {
    font-size: 18px;
  }

  #file-preview {
    background-color: var(--bs-body-bg);
  }

  #btnGroupButtons {
    box-shadow: none;
  }

  .uploadLabel {
    color: #2687e7 !important;
  }

  .modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

#details-row, #versionsRow, #sharesRow, #edit-history, #shares {
    background-color: var(--bs-dark-bg-subtle) !important;
    padding: .7rem;
}

#staticBackdropLabel, #staticBackdropLabelDetails {
    position: absolute;
    margin-bottom: 32px;
}

#upload_file_modal > .modal-dialog {
  margin-top: 50px;
}

#file_details_modal > .modal-dialog {
  margin-top: 50px;
}

.action_button {
  position: absolute;
  margin-bottom: 32px;
}

#btnDownload, #btnReset {
right: 55px;
}

#btnPreview, #btnPostpone {
right: 100px;
}

#btnEdit {
right: 147px;
}

#btnDelete {
right: 192px;
}

#upload_file_modal > .modal-dialog {
margin-top: 50px;
}

caption {
  padding-top: 0;
}

// .modal-backdrop.fade.show {
//   display: none !important;
// }

.tree-leaf .tree-expando {
  background: var(--bs-body-bg) !important;
}

#overlay{	
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}

.select2-container.select2-container--default.select2-container--open {
  z-index: 999999;
}

.selected {
  background-color: var(--bs-primary) !important;
}

table.dataTable tbody tr.selected>* {
  box-shadow: inset 0 0 0 9999px var(--bs-primary);
  box-shadow: inset 0 0 0 9999px var(--bs-primary);
}

table.dataTable tbody tr.selected th.focus, table.dataTable tbody tr.selected td.focus {
  outline-color: #990033;
}

#file-table tbody tr {
  cursor: pointer;
}

.dataTables_filter {
  display: none;
}

#btnHome {
  cursor: pointer;
}

.select2-selection__rendered {
  line-height: 29px !important;
}
// .select2-container .select2-selection--single {
//   height: 35px !important;
// }
// .select2-selection__arrow {
//   height: 34px !important;
// }

#lblDescDescription, #lblDescCategory {
  height: auto;
}

#inputDetailsCategory, #inputDetailsDescription {
  min-height: 38px;
}

#inputDescription {
  min-height: 80px;
}

.sticky-top {
  z-index: 1 !important;
}

#file-notes .media-body{
  padding: 5px;
  background: #ffffe6;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  color: rgb(33, 37, 41);
  font-size: 12px;
}


#versions .media-body, #edit-history .media{
  font-size: 14px;
}

#file-notes li.media{
  margin-bottom: 5px !important;
}

.note-text {
  margin-bottom: 0;
}

.versionIcon {
  text-align: center;
}

.leader-line {
  z-index: 10000;
}

#versions .media:hover{
    background-color: var(--bs-secondary-bg-subtle);
}

.list-unstyled {
  margin-bottom: 0;
}

.icon-wrapper {
  padding: 12px;
}

.edit-highlight, .edit-text svg {
  color: rgba(var(--bs-primary-rgb), 1);
}

.edit-text {
  color: var(--bs-secondary-color);
} 

.edit-text b {
  color: var(--bs-emphasis-color);
} 

.user-icon {
  padding-top: 7px;
}

.group-icon {
  padding-top: 10px;
}

.share-row:hover, .user-name:hover {
  background-color: var(--bs-secondary-bg-subtle) !important;
}

.user-name {
  text-align: center;
  background-color: var(--bs-body-bg) !important;
  font-size: 13px;
}

#versionsRow {
  max-height: 300px;
  overflow: auto;
}

#versionsRow::-webkit-scrollbar {
  display: none;
}

.badge:empty {
  display: inline-block !important;
}

.badgePlaceholder {
  height: 20px;
}


/////////////////////////////////////////////////////////////////////////////////////////////////
/// 
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--bs-body-bg);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: var(--bs-warning-text-emphasis)}

.checkbox-label .ball {
  background-color: var(--bs-secondary-bg);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.1s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.input-group>.form-control {
  transition: none !important;
}

/*  Support me if you like it */
.support {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover{
  transform: scale(1.1);
}

#offcanvasNavbar {
  background-color: rgba(26, 26, 26, 0.8);
  backdrop-filter: blur(10px);
}

.menu-heading {
  padding: 10px;
}

.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}

.fa-sm {
  margin-top: 5px;
}

#lblLoggedInUser {
  height: 65px;
  padding-left: 10px;
  // border-top-right-radius: var(--bs-border-radius) !important;
  margin-right: 150px;
  padding-top: 6px;
}

#lblLoggedInUser > span {
  font-size: smaller;
  font-weight: 100;
}

.player {
  height: 65px;
  left: 249px;
  background: var(--bs-primary);
  background: linear-gradient(90deg, var(--bs-primary) 0%, rgba(0,0,0,0) 100%);
}
.bg-primary {
  background-color: var(--bs-primary) !important;
}

.active-theme {
  border: 2px solid var(--bs-primary) !important;
}

.themeSelect {
  cursor: pointer;
}

///* Estilo iOS */
//.switch__container {
//width: 80px;
//}
//
//.switch {
//visibility: hidden;
//position: absolute;
//margin-left: -9999px;
//}
//
//.switch + label {
//display: block;
//position: relative;
//cursor: pointer;
//outline: none;
//user-select: none;
//}
//
//.switch--shadow + label {
//padding: 2px;
//width: 65px;
//height: 25px;
//background-color: #dddddd;
//border-radius: 60px;
//}
//.switch--shadow + label:before,
//.switch--shadow + label:after {
//display: block;
//position: absolute;
//top: 1px;
//left: 1px;
//bottom: 1px;
//content: "";
//}
//.switch--shadow + label:before {
//right: 1px;
//background-color: #f1f1f1;
//border-radius: 60px;
//transition: background 0.4s;
//}
//.switch--shadow + label:after {
//width: 25px;
//background-color: #fff;
//border-radius: 100%;
//box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
//transition: all 0.4s;
//}
//.switch--shadow:checked + label:before {
//background-color: #8ce196;
//}
//.switch--shadow:checked + label:after {
//transform: translateX(37px);
//}

.colorDiv {
height: 100%;
}

#btnMoveFileSave {
  position: fixed;
  top: 146px;
  left: 380px;
  z-index: 2;
  display: none;
}

@-webkit-keyframes bg{
  0%{
    background:rgba(200,200,200,0.8);
  }  
  20%{
    background:rgba(200,200,200,0.5);
  }
  50%{
    background:rgba(200,200,200,0.3);
  }
  70%{
    background:rgba(200,200,200,0.1);
  }
  100%{
    background:rgba(200,200,200,0);
  }
}


.theme-switch {
  --toggle-size: 30px;
  /* the size is adjusted using font-size,
     this is not transform scale,
     so you can choose any size */
  --container-width: 5.625em;
  --container-height: 2.5em;
  --container-radius: 6.25em;
  /* radius 0 - minecraft mode :) */
  --container-light-bg: #3D7EAE;
  --container-night-bg: #1D1F2C;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ECCA2F;
  --moon-bg: #C4C9D1;
  --spot-color: #959DB1;
  --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
  --stars-color: #fff;
  --clouds-color: #F3FDFF;
  --back-clouds-color: #AACADF;
  --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
  transform: scale(0.4);
}

.theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius)
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.theme-switch__moon {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.375em;
  height: 0.375em;
  top: 0.937em;
  left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.25em;
  height: 0.25em;
  top: 0.312em;
  left: 0.812em;
}

.theme-switch__clouds {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.75em;
  height: auto;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
  bottom: -4.062em;
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.activeNav {
  border-left: 2px solid var(--bs-primary);
  color: white !important;
}

.nav-link {
  color: dimgray;
}

.offcanvas {
  width: 350px !important;
}

.sideNav-menu {
  background-color: rgba(13, 13, 13, 0.5);
  padding-left: 10px;
}

.btn-dark {
  background-color: transparent !important;
  border-color: transparent;
  box-shadow: none;
}

#btnSidenavUpload {
  background-color: rgba(13, 13, 13, 0.5) !important;
}

.btn-light {
  color: white;
  box-shadow: none;
}

#hoverPreview {
  display: none;
  position: absolute;
}

// HOVER PREVIEW CARD
.card {
  position: relative;
  width: 350px;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
// HOVER PREVIEW CARD END

// TOGGLE SWITCH
/* The switch - the box around the slider */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #0974f1;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
}
// TOGGLE SWITCH END

// SEARCH INPUT
.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: var(--bs-dark-bg-subtle) !important;
}

.input {
  width: 190px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: var(--bs-primary);
  background-color: var(--bs-dark-bg-subtle) !important;
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.borderSearch {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.micIcon {
  width: 12px;
}

.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: .3s;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.micIcon path {
  fill: rgb(255, 81, 0);
}

//.micButton:hover {
//  background-color: rgb(255, 230, 230);
//  transition-duration: .3s;
//}
// SEARCH INPUT END

#breadCrumbBackground {
  background-color: var(--bs-dark-bg-subtle) !important;
}