@import "style";
@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-dt/css/jquery.dataTables.min.css";
@import "~js-treeview/src/treeview.css";
@import "~dropify/dist/css/dropify.min.css";
@import "~select2/dist/css/select2.min.css";
@import '~mdb-ui-kit/css/mdb.min.css';
@import "toastr";
@import "../js/framework/datatables-keyTable/keyTable.dataTables.min.css";
@import "../js/framework/datatables-scroller/scroller.dataTables.min.css";
@import "../js/framework/datatables-colreorder/colReorder.dataTables.min.css";


.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.tree-leaf .tree-leaf-content {
    padding: 0.75rem 1.25rem;
    width: 100%;
}

#tree .tree-leaf:last-child .tree-leaf-content:hover, .tree-leaf .tree-leaf-content:hover{
    background-color: var(--bs-secondary-bg-subtle) !important;
}

#tree {
  top: 120px;
}

#file-table {
    width: 100%;
}

.tree-leaf-text, .menu > li > a {
  color: var(--bs-emphasis-color);
}

.tree-leaf-content:has(.tree-expando.hidden) {
    padding-left: 29px !important;
}

.tree-folder-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.tree-leaf .tree-leaf-text:hover {
  color: var(--bs-primary-text-emphasis) !important;
}

#lblCurrentFolder {
    padding-left: 0 !important;
}

.folderSelected {
    background-color: var(--bs-secondary-bg-subtle) !important;
}

.folderSelected > .tree-leaf-text {
  color: var(--bs-primary) !important;
}

.dropify-wrapper, .dropify-preview {
  background-color: var(--bs-dark-bg-subtle) !important;
  border: 2px solid var(--bs-secondary-bg-subtle) !important;
}

.dropify-wrapper {
    border-radius: 10px;
}

#categorySelect {
    width: 100%;
}

.select2-selection  {
    background-color: var(--bs-modal-bg) !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: 0px 6px 6px 0px !important;
    min-height: 38px !important;
}

.select2-selection__choice, .select2-dropdown {
    background-color: var(--bs-secondary-bg-subtle) !important;
}

.select2-results__option--selected {
  background-color: var(--bs-secondary-bg) !important;
}

ul {
    list-style: none;
  }

  .context-menu { 
    position: absolute; 
  } 
  .menu {
    display: flex;
    flex-direction: column;
    background-color: var(--bs-secondary-bg-subtle) !important;;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
  }
  .menu > li > a {
    padding: 7px 30px 7px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.25s linear;
    -webkit-transition: 0.25s linear;
    -moz-transition: 0.25s linear;
    -ms-transition: 0.25s linear;
    -o-transition: 0.25s linear;
  }

  .menu > li {
    padding-left: 3px;
    padding-right: 3px;
  }

  .menu > li.trash > a:hover {
    color: var(--bs-danger-text-emphasis) !important;
  }

  hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 0;
    border-top: 1px solid var(--bs-tertiary-color);
  }

  .menu > li > a:hover {
    color: var(    --bs-primary-text-emphasis);
    background-color: rgba(var(--bs-tertiary-bg-rgb), .2) !important;
  }

  .table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color))) !important;
  }

  .btn-light {
    background-color: transparent !important;
  }

  #managerNavigation {
    background-color: var(--bs-body-bg);
  }

  // .btn {
  //   box-shadow: none;
  // }

  #filePreviewDialog {
    background-color: var(--bs-dark-bg-subtle);
    display: none;
    height: 85vh;
    width: 40vw;
    border-radius: 10px 00px 0px 10px;
    position: fixed;
    top: 137px;
    right: 0;
    z-index: 2;
}

.dialog {
  margin-left: 0;
}

  #nav-tab {
    padding: .5rem;
    border-radius: 10px;
  }
  .nav-link.active {
    background-color: #2687e7 !important;
  }

  .details-row {
    background-color: var(--bs-body-bg);
  }

  .btn-group-vertical > button {
    text-align: start !important;
    margin-bottom: 2px;
  }

  .col-form-label {
    color: var(--bs-body-color);
  }

  .smallFont {
    font-size: 14px;
  }

  #btnClosePreview {
    font-size: 18px;
  }

  #file-preview {
    background-color: var(--bs-body-bg);
  }

  #btnGroupButtons {
    box-shadow: none;
  }

  .uploadLabel {
    color: #2687e7 !important;
  }

  .modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

#details-row, #versionsRow, #sharesRow, #edit-history, #shares {
    background-color: var(--bs-dark-bg-subtle) !important;
    padding: .7rem;
}

#staticBackdropLabel, #staticBackdropLabelDetails {
    position: absolute;
    margin-bottom: 32px;
}

#upload_file_modal > .modal-dialog {
  margin-top: 50px;
}

#file_details_modal > .modal-dialog {
  margin-top: 50px;
}

.action_button {
  position: absolute;
  margin-bottom: 32px;
}

#btnDownload, #btnReset {
right: 55px;
}

#btnPreview, #btnPostpone {
right: 100px;
}

#btnEdit {
right: 147px;
}

#btnDelete {
right: 192px;
}

#upload_file_modal > .modal-dialog {
margin-top: 50px;
}

caption {
  padding-top: 0;
}

// .modal-backdrop.fade.show {
//   display: none !important;
// }

.tree-leaf .tree-expando {
  background: var(--bs-body-bg) !important;
}

#overlay{	
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}

.select2-container.select2-container--default.select2-container--open {
  z-index: 999999;
}

.selected {
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

#file-table tbody tr {
  cursor: pointer;
}

.dataTables_filter {
  display: none;
}

#btnHome {
  cursor: pointer;
}

.select2-selection__rendered {
  line-height: 29px !important;
}
// .select2-container .select2-selection--single {
//   height: 35px !important;
// }
// .select2-selection__arrow {
//   height: 34px !important;
// }

#lblDescDescription, #lblDescCategory {
  height: auto;
}

#inputDescription, #inputDetailsCategory, #inputDetailsDescription {
  min-height: 38px;
}

.sticky-top {
  z-index: 1 !important;
}

#file-notes .media-body{
  padding: 5px;
  background: #ffffe6;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  color: var(--bs-light-bg-subtle);
  font-size: 12px;
}


#versions .media-body, #edit-history .media{
  font-size: 14px;
}

#file-notes li.media{
  margin-bottom: 5px !important;
}

.note-text {
  margin-bottom: 0;
}

.versionIcon {
  text-align: center;
}

.leader-line {
  z-index: 10000;
}

#versions .media:hover{
    background-color: var(--bs-secondary-bg-subtle);
}

.list-unstyled {
  margin-bottom: 0;
}

.icon-wrapper {
  padding: 12px;
}

.edit-highlight, .edit-text svg {
  color: rgba(var(--bs-primary-rgb), 1);
}

.edit-text {
  color: var(--bs-secondary-color);
} 

.edit-text b {
  color: var(--bs-emphasis-color);
} 

.user-icon {
  padding-top: 7px;
}

.group-icon {
  padding-top: 10px;
}

.share-row:hover, .user-name:hover {
  background-color: var(--bs-secondary-bg-subtle) !important;
}

.user-name {
  text-align: center;
  background-color: var(--bs-body-bg) !important;
  font-size: 13px;
}

#versionsRow {
  max-height: 300px;
  overflow: auto;
}

#versionsRow::-webkit-scrollbar {
  display: none;
}